

.c-form-title{
  padding: 5px;
  background: white;
  width: 200px;
}

.c-form-button{
  margin-top: 10px;
  padding: 5px;
  background: #eee;
  border: none

}

.c-form-button:hover{
  border: none;
  text-decoration: underline;
}

.c-form-title{
  display: block;
  border-radius: 5px;
  float: left;
  width: 290px;
}

.comments-list{
  padding: 10px;
  margin-top: 60px;
}
.comment-box{
  display: block;
  border-radius: 5px;
  margin-bottom: 25px;
}

.comment-pic {
  border-radius: 50%;
  width: 25px;
  float: left;
}

.comment-writer{
  float: left;
  padding: 5px;
}

.c-form-submit{
  background: #3A5894;
  color: white;
  display: block;
  border-radius: 3px;
  float: left;
  padding: 5px;
  margin-left:
}

.lil-comment-writer{
  float: left;
  font-size: 13px;
  font-weight: bold;
  display: block;
  margin-left: 5px;
}

.comment-header{
  display: hidden;
  width: 300px;
  color: #333;
}

.comment-body{
  color: #333;
  padding-left: 31px
}

.first-form{
  margin-bottom: 30px;
}

.single-comment{
  border-top: 2px solid #ccc;
  padding: 10px;
}
