
.question-detail-pane{
  margin: 0 auto;
  width: 660px;
  background: #eee;
  padding: 20px;
  border-radius: 10px;

}

.ask-a-question-please{
  margin: 0 auto;
  margin-top: 20px;
  margin-left: 300px
}

.question-detail-each{
  background: #ffc2ea;
  margin-top: 15px;
  border-radius: 10px;
  padding: 10px;
}

.detail-asker{
  float: left;
  font-size: 24px;

}

.detail-info{
  float: left;
  font-size: 16px;
  color: #666;
  margin-top: 3px;
  padding: 5px;
}

.detail-title{
  text-align: center;
  font-size: 24px;
  margin-top: 10px;
  padding: 10px;
  font-weight: bold;
  color: #666
}

.detail-answers{
  width: 600px;
  margin: 0 auto;
}

.detail-image{
  float: right;
  border-radius: 50px;
}

.little-detail{
  margin-top: 5px;
  font-size: 24px;
  font-weight: bold;
  padding: 15px;
  color: #666;
  display: block;
  background: #c7ffc2;
  border-radius: 10px;
}

.detail-answers{
  margin-top: 50px;
}

.long-form-title{
  width: 400px;
  background: #FFEFD5;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-right: 50px;
  font-size: 16px;
  margin-left: 50px;
  color: #666
}

.long-form-tag{
  width: 100px;
  background: #BDDFEB;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-right: 50px;
  color: #666
}

.long-form-body{
  width: 400px;
  background: #ffe9ec;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-right: 50px;
  font-size: 16px;
  margin-left: 50px;
  color: #666
}

.q-detail-image{
  margin: 0 auto;
  height: auto;
}

.long-image-attachment{
  color: white;
  font-size: 12px;
  text-align: left;
}

.q-detail-body{
  padding: 5px;
  color: #666;
  font-size: 14px;
  font-weight: normal;
}

.detail-header{
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  color: #666;
  padding: 20px;

}
