.homepage {
  width: 1000px;
  margin: 0 auto
}

.some-questions{
  display: block;
  padding: 20px;
  font-weight: bold;
  font-size: 24px;
}
.my-questions{
  float: left;
  width: 160px;
  padding: 20px;
  height: 280px;
  border-top: 1px solid #ccc;

}

.ask-a-question{

}

.more-q{
  margin-top: 15px;
  width: 600px;
  margin: 0 auto;
}



.r-all-the-questions{
  margin-top: 15px;
}


.read-header{
  padding: 20px;
  font-size: 24px;
  font-weight: bold;
}
.sign-out-button{
  visibility: hidden;
}

.nope{
  width: 1px;
  height: 1px;
  display: hidden;
}

.question-image{
  visibility: hidden;
  float: right;
  width: 1px;
  height: 1px;
}

.question-title-link:hover{
  text-decoration: underline;
}

.single-answer {
  margin-top: 10px;
}

.image-attachment{
  color: black;
  font-size: 10px;
  margin-left: 20px
}

.answer-list{
  background: #eee;
  margin-top: 10px;
  border-radius: 5px;
  font-weight: normal;
  font-size: 16px;
}

.single-answer{
  padding: 10px;
}

.a-form-title{
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 10px;
  padding: 5px;
  font-weight: normal;
  color: #666
}

.tag-link:hover{
  color: #5fbce7;
}



.single-tag{
  background: white;
  font-size: 12px;

}

.answer-body{
  margin-top: 10px;
  background: white
}

.answer-writer{
  text-align: left;
  display: block;
  font-size: 20px;
  padding-top: 9px;
  padding-left: 15px;
  padding-right: 7px;
  float: left;
  margin-top: 7px;
}

.more-q{
  margin-top: 2px;
}


.answer-pic{
  width: 50px;
  float: left;
  weight: 100%;
  border-radius: 50%;
  display: block;
}

.answer-description{
  text-align: left;
  display: block;
  font-size: 14px;
  padding-top: 22px;
  padding-left: 5px;
  padding-bottom: 3px;
  color: #666
}

.answer-written-in{
  font-size: 10px;
  margin-bottom: 5px
}

.r-all-the-questions{
  margin-top: 100px;
  width: 600px;
  margin: 0px auto;

}
