.homepage {
  width: 1000px;
  margin: 0 auto
}

.some-questions{
  display: block;
  padding: 10px;
  margin-left: 20px;
}
.my-questions{
  float: left;
  width: 140px;
  padding: 20px;
  height: 240px;
  background: pink;
}

.ask-a-question {
  width: 500px;
  padding: 20px;
  float: left;
}

.image-attachment{
  color: #666;
  font-size: 10px;
  margin-left: 20px
}
