.homepage {
  width: 1000px;
  margin: 0 auto
}

.some-questions{
  display: block;
  padding: 10px;
  margin-left: 20px;
}
.my-questions{
  float: left;
  width: 140px;
  padding: 20px;
  height: 280px;
  border-top: 1px solid #ccc;

}

.question-image{
  visibility: hidden;
  float: right;
  width: 1px;
  height: 1px;
}


.single-answer {
  margin-top: 10px;
}

.image-attachment{
  color: black;
  font-size: 10px;
  margin-left: 20px
}

.answer-list{
  margin-top: 10px;
  border-radius: 5px;
  font-weight: normal;
  font-size: 16px;
}

.single-answer{
  padding: 10px
}

.a-form-title{
  background: #00EEEE;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 10px;
  padding: 5px;
  font-weight: normal;
  color: #666
}



.single-tag{
  background: :white;
  font-size: 12px;

}

.answer-body{
  margin-top: 10px;
  background: yellow
}

.answer-writer{
  text-align: left;
  display: block;
  font-size: 20px;
  background: pink;
  padding-top: 9px;
  padding-left: 15px;
  padding-right: 7px;
  float: left;
  margin-top: 7px;
}

.answer-pic{
  width: 50px;
  float: left;
  height: 50px;
  border-radius: 50%;
  display: block;
}

.answer-description{
  text-align: left;
  display: block;
  font-size: 14px;
  background: green;
  padding-top: 19px;
  padding-left: 5px;
  padding-bottom: 3px;
  color: #aaa
}

.answer-written-in{
  font-size: 10px;
}
