.opening-page

.sign-up-header {
  font-size: 11px;
  font-weight: bold;
  color: #666
}

.home{
  background: url(https://images.unsplash.com/photo-1413897255566-39fda18f373f?crop=entropy&fit=crop&fm=jpg&h=1000&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1825);
  height: 100%;

}
.new-username-input {
  display: block;
  background: #eee;
  border: 1px solid #e2e2e2;
  padding: 8px;
  width: 240px;
  margin-top: 20px;
  border-radius: 3px;
}

.guest-sign-in-button{
  margin-bottom: 50px;
}

.new-password-input{
  display: block;
  background: #eee;
  border: 1px solid #e2e2e2;
  padding: 8px;
  width: 240px;
  margin-top: 37px;
  border-radius: 3px;
}

.new-about-input{
  display: block;
  background: #eee;
  border: 1px solid #e2e2e2;
  padding: 8px;
  width: 240px;
  margin-top: 37px;
  border-radius: 3px;
  margin-bottom: 3px;
}

.new-avatar-input{
  font-size: 11px;
  color: #666;
  padding: 10px;
}

.new-avatar-input input{
  margin-left: 7px;
}

.choose-file-button{
  padding-left: 10px;
}


.signup-button {
  display: block;
  transition-delay: 100ms;
  border-radius: 3px;
  padding: 5px 7px 4px 7px;
  background: #3e78ad;
  color: #fff;;
  font-weight: 500;
  border: 1px solid #3a66ad;
  cursor: pointer;
  text-align: right;
  margin-left: 200px;

}
