.opening-page

.sign-up-header {
  font-size: 11px;
  font-weight: bold;
  color: #666
}

.home{
  background: url(//qsf.is.quoracdn.net/-20ef206991d81a7e.png);
  text-align: 0px auto
}
.new-username-input {
  display: block;
  background: #eee;
  border: 1px solid #e2e2e2;
  padding: 8px;
  width: 240px;
  margin-top: 20px;
  border-radius: 3px;
}

.new-password-input{
  display: block;
  background: #eee;
  border: 1px solid #e2e2e2;
  padding: 8px;
  width: 240px;
  margin-top: 37px;
  border-radius: 3px;
}

.new-about-input{
  display: block;
  background: #eee;
  border: 1px solid #e2e2e2;
  padding: 8px;
  width: 240px;
  margin-top: 37px;
  border-radius: 3px;
}

.new-avatar-input{

}

.signup-button {
  display: block;
  transition-delay: 100ms;
  border-radius: 3px;
  padding: 5px 7px 4px 7px;
  background: #3e78ad;
  color: #fff;;
  font-weight: 500;
  border: 1px solid #3a66ad;
  cursor: pointer;
  text-align: right;
  margin-left: 200px;

}
