.tag-show{
  width: 600px;
  margin: 0 auto;
  margin-top: 30px;
}

.tag-data{
  font-size: 12px;
  margin-bottom: 5px;
  color: #666;
  float: left;
  font-weight: 400;
}
.tag-link{
  float: left;
}
